@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Bold.woff2) format("woff2"),url(../fonts/Gilroy-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Extrabold.woff2) format("woff2"),url(../fonts/Gilroy-Extrabold.woff) format("woff");
  font-weight: 800;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Medium.woff2) format("woff2"),url(../fonts/Gilroy-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Semibold.woff2) format("woff2"),url(../fonts/Gilroy-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Gilroy,sans-serif;
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Gilroy,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none
}
::-webkit-scrollbar {
  display: none
}
body {
  background-color: #ffd500
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .2s
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.head-section {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center
}
.head-section__logo {
  height: auto;
  position: relative;
  z-index: 2
}
.head-section__block {
  position: relative
}
.head-section__block::after,
.head-section__block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%
}
.head-section__block::before {
  z-index: -1;
  background-color: #000;
  right: -5px;
  bottom: -5px
}
.head-section__block::after {
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #00b407
}
.head--big .head-section__block::after,
.head--big .head-section__block::before {
  -webkit-clip-path: polygon(0 0,100% 17%,90% 100%,8% 100%);
  clip-path: polygon(0 0,100% 17%,90% 100%,8% 100%)
}
.head--sm .head-section__block::after,
.head--sm .head-section__block::before {
  -webkit-clip-path: polygon(11% 0,91% 18%,100% 100%,0 100%);
  clip-path: polygon(11% 0,91% 18%,100% 100%,0 100%)
}
.head-section__title {
  color: #fff;
  text-transform: uppercase;
  line-height: normal;
  text-align: center;
  position: relative;
  z-index: 1
}
.head--big .head-section__title {
  font-weight: 800
}
.head--sm .head-section__title {
  font-weight: 700
}
.swiper {
  position: relative
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
.page-bg,
.page-bg-b,
.page-bg-c,
.page-bg-d {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden
}
.page-bg {
  z-index: -1
}
.page-bg__bg {
  position: relative;
  z-index: 0
}
.page-bg__speakers {
  position: absolute;
  z-index: 1;
  top: 0;
  overflow: hidden;
  width: 100%
}
.page-bg__speaker {
  height: auto
}
.page-bg__speaker.speaker-right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.page-bg-b {
  z-index: 3
}
.page-bg-b__cracker {
  position: absolute;
  height: auto
}
.page-bg-c {
  z-index: 5
}
.page-bg-d._hidden {
  display: none
}
.page-bg-d._show {
  display: block
}
.section {
  position: absolute;
  inset: 0;
  z-index: 4
}
.section._show {
  display: block
}
.section._hidden {
  display: none
}
.section-01__container {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center
}
.section-01__content {
  position: relative;
  width: 100%;
  flex: 1
}
.section-01__cat,
.section-01__mens,
.section-01__pack {
  position: absolute;
  z-index: 3;
  height: auto;
  top: 50%
}
.msg {
  position: absolute;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 3
}
.msg::after,
.msg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0,100% 0,97% 56%,47% 67%,50% 100%,36% 69%,7% 72%);
  clip-path: polygon(0 0,100% 0,97% 56%,47% 67%,50% 100%,36% 69%,7% 72%)
}
.msg::before {
  z-index: -1;
  background-color: #000;
  right: -5px;
  bottom: -5px
}
.msg::after {
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #fff
}
.msg__txt {
  position: relative;
  z-index: 1;
  font-weight: 700;
  text-align: center
}
.msg__heart {
  position: absolute;
  z-index: 2;
  height: auto
}
.action {
  position: relative;
  z-index: 6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  outline: 0;
  padding: 1.875rem 2.5rem 1.25rem
}
.action::after,
.action::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(7% 0,91% 18%,100% 100%,0 100%);
  clip-path: polygon(7% 0,91% 18%,100% 100%,0 100%)
}
.action::before {
  z-index: -1;
  right: -5px;
  bottom: -5px;
  width: calc(100% + .625rem)
}
.action::after {
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #e23642;
  transition: background-color .3s ease
}
.action:hover {
  -webkit-transform: translateY(-.3125rem);
  transform: translateY(-.3125rem)
}
.action__txt {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 1.625rem;
  color: #fff
}
.action__arr-right {
  position: relative;
  z-index: 1;
  width: .75rem;
  height: auto;
  margin-bottom: -.1875rem
}
.action__arr {
  position: absolute;
  z-index: 2;
  -webkit-animation: arrowAnimation 1.5s ease-in-out infinite;
  animation: arrowAnimation 1.5s ease-in-out infinite;
  width: 3.125rem;
  height: auto
}
@-webkit-keyframes arrowAnimation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(.4375rem);
    transform: translateY(.4375rem)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes arrowAnimation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(.4375rem);
    transform: translateY(.4375rem)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.section-02__container {
  min-height: 100vh;
  min-height: 100svh
}
.puzzle {
  background-color: #fff;
  -webkit-clip-path: polygon(0 0,100% 0,95% 100%,5% 100%);
  clip-path: polygon(0 0,100% 0,95% 100%,5% 100%)
}
.puzzle__item {
  position: relative;
  display: grid;
  padding-bottom: 3rem
}
.puzzle__item._show {
  display: grid
}
.puzzle__item._hidden {
  display: none
}
.item-02 .puzzle__image,
.item-03 .puzzle__image {
  background-color: #f3f9ff
}
.puzzle__title {
  font-weight: 700;
  line-height: normal
}
.puzzle__buttons {
  margin-bottom: 1.4375rem
}
.puzzle__button:nth-child(1) {
  margin-bottom: .5rem
}
.puzzle__button:nth-child(2) {
  margin-bottom: .9375rem
}
.puzzle__next {
  max-width: 12.5rem!important
}
.puzzle__count {
  position: absolute;
  padding: .3125rem .75rem;
  color: #1b76ca;
  font-weight: 600;
  background-color: #f3f9ff;
  -webkit-clip-path: polygon(6% 0,100% 0,94% 100%,0 100%);
  clip-path: polygon(6% 0,100% 0,94% 100%,0 100%)
}
.btn {
  outline: 0;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 12.5rem;
  min-width: 12.5rem;
  transition: color .3s ease,-webkit-transform .3s ease;
  transition: transform .3s ease,color .3s ease;
  transition: transform .3s ease,color .3s ease,-webkit-transform .3s ease
}
.btn.btn-01::after,
.btn.btn-01::before {
  -webkit-clip-path: polygon(5% 0,100% 0,96% 85%,0 100%);
  clip-path: polygon(5% 0,100% 0,96% 85%,0 100%)
}
.btn.btn-02::after,
.btn.btn-02::before {
  -webkit-clip-path: polygon(5% 14%,100% 0,96% 100%,0 100%);
  clip-path: polygon(5% 14%,100% 0,96% 100%,0 100%)
}
.btn.btn-03 {
  color: #fff;
  justify-content: space-between
}
.btn.btn-03::after,
.btn.btn-03::before {
  -webkit-clip-path: polygon(5% 11%,90% 0,100% 100%,0 100%);
  clip-path: polygon(5% 11%,90% 0,100% 100%,0 100%)
}
.btn.btn-03::before {
  background-color: #000
}
.btn.btn-03::after {
  background-color: #e3212d
}
.btn.btn-03.inactive {
  opacity: .5
}
.btn.btn-01:not(._active):hover,
.btn.btn-02:not(._active):hover {
  -webkit-transform: translateY(-.1875rem);
  transform: translateY(-.1875rem);
  color: #fff
}
.btn.btn-01:not(._active):hover::before,
.btn.btn-02:not(._active):hover::before {
  background-color: #0a4780
}
.btn.btn-01:not(._active):hover::after,
.btn.btn-02:not(._active):hover::after {
  background-color: #1b76ca
}
.btn.incorrect._active {
  color: #000;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.btn.incorrect._active::before {
  background-color: #ff8990
}
.btn.incorrect._active::after {
  background-color: #ffbfbf
}
.btn.is-correct._active {
  color: #fff;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.btn.is-correct._active::before {
  background-color: #2c951a
}
.btn.is-correct._active::after {
  background-color: #00b407
}
.item-03 .btn {
  max-width: 16.875rem
}
.btn span {
  font-size: 1.125rem;
  font-weight: 500;
  display: inline-block;
  position: relative;
  z-index: 1
}
.btn img {
  position: relative;
  z-index: 1;
  width: .5rem;
  height: auto
}
.btn::after,
.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color .3s ease
}
.btn::before {
  z-index: -1;
  background-color: #ecc500;
  right: -5px;
  bottom: -5px
}
.btn::after {
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #ffd500
}
.section-03 {
  z-index: 6
}
.section-03__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  overflow: auto;
  padding-bottom: 1.5625rem
}
.section-03__content {
  width: 100%;
  overflow: hidden;
  margin-top: 2.875rem
}
.section-03__content._show {
  display: block
}
.section-03__content._hidden {
  display: none
}
.section-03__slider {
  height: 18.5625rem;
  max-width: 62.5rem;
  margin: 0 auto
}
.section-03__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: 2.75rem;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center
}
.section-03__btn.swiper-button-prev {
  -webkit-transform: translate(0,-50%) scaleX(-1);
  transform: translate(0,-50%) scaleX(-1)
}
.section-03__btn::after,
.section-03__btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0,100% 19%,91% 87%,9% 100%);
  clip-path: polygon(0 0,100% 19%,91% 87%,9% 100%)
}
.section-03__btn::before {
  z-index: -1;
  background-color: #000;
  right: -5px;
  bottom: -5px
}
.section-03__btn::after {
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #e3212d
}
.section-03__arr-right {
  position: relative;
  z-index: 2;
  width: .5rem;
  height: auto
}
.section-03__next {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.3125rem;
  margin-bottom: 10px;
  padding: 1.25rem 3.125rem 1.25rem;
  max-width: 15.625rem;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease
}
.section-03__next span {
  font-weight: 600;
  font-size: 1.625rem
}
.section-03__next img {
  width: .75rem;
  height: auto
}
.section-03__next img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.video._show {
  display: block
}
.video._hidden {
  display: none
}
.video__el {
  width: 100%;
  height: auto;
  max-width: 43.625rem;
  box-shadow: 5px 5px 0 #000
}
.social {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto
}
.social__link {
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b76ca;
  box-shadow: 5px 5px 0 #000;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease
}
.social__link.link-insta {
  background-image: radial-gradient(182.58% 44.91% at -17% 7%,#3771c8,#3771c8 12.8%,rgba(102,0,255,0) 100%),radial-gradient(92% 99% at 27% 108%,#fd5,#fd5 10%,#ff543e 50%,#c837ab 100%)
}
.social__link img {
  position: relative;
  z-index: 1
}
@media (min-width:30.06125em) {
  .head--sm .head-section__block {
    padding-bottom: .875rem
  }
  .page-bg__speakers {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 73.5rem;
    display: flex;
    justify-content: space-between
  }
  .section-01__cat {
    left: 0
  }
  .section-01__pack {
    -webkit-transform: translate(8%,14%) rotate(-14deg);
    transform: translate(8%,14%) rotate(-14deg)
  }
  .section-01__mens {
    right: -2%
  }
  .msg {
    padding: .625rem 1.875rem 3.125rem
  }
  .msg__heart.heart-01 {
    top: -28%;
    left: 5%
  }
  .msg__heart.heart-02 {
    top: -17%;
    right: 6%;
    width: 2.5rem;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg)
  }
  .msg__heart.heart-03 {
    top: 20%;
    right: 5%;
    width: 1.5rem;
    -webkit-transform: rotate(56deg);
    transform: rotate(56deg)
  }
  .action::before {
    background-color: #fff
  }
  .action__arr {
    top: -106%;
    right: 35%
  }
  .puzzle__item {
    padding-top: 5.625rem
  }
  .btn {
    padding: .75rem 2.1875rem .75rem
  }
}
@media (min-width:43.81125em) {
  .page-bg-c__cracker {
    display: none
  }
  .puzzle__item {
    margin-top: -2.75rem;
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem;
    grid-template-columns: 50% auto
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,6% 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,6% 100%)
  }
}
@media (min-width:48.06125em) {
  .page-bg-b__cracker.cracker-02 {
    left: -8%;
    bottom: -19%;
    -webkit-transform: rotate(-11deg);
    transform: rotate(-11deg)
  }
  .page-bg-b__cracker.cracker-04 {
    -webkit-transform: scale(-1) rotate(-12deg);
    transform: scale(-1) rotate(-12deg);
    right: -4%;
    top: -7%
  }
  .section-01__content {
    min-height: 15.625rem
  }
  .section-01__cat {
    -webkit-transform: translate(-12%,-12%);
    transform: translate(-12%,-12%)
  }
  .section-01__mens {
    -webkit-transform: translate(8%,-37%);
    transform: translate(8%,-37%)
  }
  .msg {
    top: 50%;
    -webkit-transform: translate(18%,-58%) rotate(-6deg);
    transform: translate(18%,-58%) rotate(-6deg)
  }
  .video {
    margin-top: -1.25rem
  }
}
@media (min-width:62.06125em) {
  .page-bg-b__cracker.cracker-03 {
    -webkit-transform: scaleX(-1) rotate(-8deg);
    transform: scaleX(-1) rotate(-8deg);
    right: -2%;
    bottom: -6%;
    width: 175px
  }
}
@media (min-width:71.25em) {
  .page-bg__speaker {
    width: 17.8125rem
  }
  .page-bg-b__cracker.cracker-01 {
    width: 10.9375rem
  }
  .page-bg-b__cracker.cracker-04 {
    width: 10.9375rem
  }
  .section-03__btn.swiper-button-prev {
    left: -3.125rem
  }
  .section-03__btn.swiper-button-next {
    right: -3.125rem
  }
}
@media (min-width:80.06125em) {
  .head-section.head--big {
    padding-top: 2.5rem
  }
  .head-section.head--sm {
    padding-top: 5rem
  }
  .head--big .head-section__logo {
    width: 19.1875rem
  }
  .head--sm .head-section__logo {
    width: 10rem
  }
  .head--big .head-section__block {
    margin-top: -2.25rem
  }
  .head--big .head-section__block {
    padding-top: 3.4375rem
  }
  .head--big .head-section__block {
    padding-left: 4.375rem
  }
  .head--big .head-section__block {
    padding-right: 4.375rem
  }
  .head--big .head-section__block {
    padding-bottom: 1.5625rem
  }
  .head--sm .head-section__block {
    margin-top: -1.5625rem
  }
  .head--sm .head-section__block {
    padding-top: 2.0625rem
  }
  .head--sm .head-section__block {
    padding-left: 4.375rem
  }
  .head--sm .head-section__block {
    padding-right: 4.375rem
  }
  .head--big .head-section__title {
    font-size: 2rem
  }
  .head--sm .head-section__title {
    font-size: 1.5rem
  }
  .section-01__cat {
    width: 44.6875rem
  }
  .section-01__pack {
    width: 9.375rem
  }
  .section-01__mens {
    width: 50rem
  }
  .msg__txt {
    font-size: 1.25rem
  }
  .msg__txt {
    width: 15.625rem
  }
  .msg__heart.heart-01 {
    width: 3.75rem
  }
  .action {
    margin-bottom: 5.3125rem
  }
  .section-02__container {
    padding-bottom: 5rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    padding-top: 1.625rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    padding-bottom: 1.625rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    padding-left: 3.4375rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    padding-right: 4.375rem
  }
  .puzzle__title {
    font-size: 1.5rem
  }
  .puzzle__title {
    margin-bottom: 1.5rem
  }
  .puzzle__count {
    bottom: 1.5625rem
  }
  .puzzle__count {
    right: 4.125rem
  }
  .puzzle__count {
    font-size: 1.1875rem
  }
  .social {
    -webkit-column-gap: 3.3125rem;
    -moz-column-gap: 3.3125rem;
    column-gap: 3.3125rem
  }
}
@media (min-width:80em) {
  .puzzle__item {
    padding-left: 7.5rem
  }
  .puzzle__item {
    padding-right: 7.5rem
  }
}
@media (max-width:71.25em) {
  .section-03__btn.swiper-button-prev {
    left: 1.25rem
  }
  .section-03__btn.swiper-button-next {
    right: 1.25rem
  }
}
@media (max-width:68.81125em) {
  .section-03__content {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
}
@media (max-width:62.06125em) {
  .page-bg-b__cracker.cracker-03 {
    display: none
  }
}
@media (max-width:48.06125em) {
  .page-bg-b__cracker.cracker-01 {
    top: 20%
  }
  .page-bg-b__cracker.cracker-02 {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
    left: -25%;
    bottom: -30%
  }
  .page-bg-b__cracker.cracker-04 {
    -webkit-transform: scale(-1) rotate(9deg);
    transform: scale(-1) rotate(9deg);
    right: -15%;
    top: 10%
  }
  .page-bg-c__cracker-01 {
    display: none
  }
  .section-01__cat {
    -webkit-transform: translate(-12%,-28%);
    transform: translate(-12%,-28%)
  }
  .section-01__mens {
    -webkit-transform: translate(8%,-50%);
    transform: translate(8%,-50%)
  }
  .msg {
    top: 30%;
    -webkit-transform: translate(18%,-50%) rotate(-6deg);
    transform: translate(18%,-50%) rotate(-6deg)
  }
  .video {
    margin-top: 1.25rem
  }
}
@media (max-width:43.81125em) {
  .page-bg-c__cracker {
    position: absolute;
    height: auto
  }
  .page-bg-c__cracker.cracker-01,
  .page-bg-c__cracker.cracker-02 {
    width: 3.25rem
  }
  .page-bg-c__cracker.cracker-01 {
    top: 20%;
    left: 1%
  }
  .page-bg-c__cracker.cracker-02 {
    left: 1%;
    bottom: 10%
  }
  .page-bg-c__cracker.cracker-03 {
    width: 3.875rem;
    right: 1%;
    top: 60%
  }
  .puzzle__item {
    margin-top: -3.125rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,2% 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,2% 100%)
  }
  .puzzle__image {
    margin-bottom: 1.5rem
  }
  .puzzle__answers {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .puzzle__title {
    text-align: center
  }
}
@media (max-width:30.06125em) {
  .head-section.head--big {
    padding-top: 3.75rem
  }
  .head-section.head--sm {
    padding-top: 3.75rem
  }
  .head-section.head--sm {
    padding-top: 1.25rem!important
  }
  .head--big .head-section__logo {
    width: 13.625rem
  }
  .head--sm .head-section__logo {
    width: 8.75rem
  }
  .head--big .head-section__block {
    margin-top: -1.6875rem
  }
  .head--big .head-section__block {
    padding-top: 2.625rem
  }
  .head--big .head-section__block {
    padding-bottom: .875rem
  }
  .head--sm .head-section__block {
    margin-top: -1.25rem
  }
  .head--sm .head-section__block {
    padding-top: 1.875rem
  }
  .head--sm .head-section__block {
    padding-bottom: .75rem
  }
  .head--big .head-section__title {
    font-size: 1.5rem
  }
  .head--sm .head-section__title {
    font-size: 1rem
  }
  .page-bg__speakers {
    height: 9.375rem
  }
  .page-bg__speaker.speaker-left {
    -webkit-transform: translateX(-28%);
    transform: translateX(-28%);
    left: 0
  }
  .page-bg__speaker.speaker-right {
    -webkit-transform: scaleX(-1) translateX(-28%);
    transform: scaleX(-1) translateX(-28%);
    right: 0
  }
  .page-bg__speaker {
    position: absolute;
    z-index: 2;
    top: 0
  }
  .section-01__content {
    min-height: 20rem
  }
  .section-01__cat {
    width: 21.875rem
  }
  .section-01__cat {
    left: -17%
  }
  .section-01__pack {
    width: 4rem
  }
  .section-01__pack {
    -webkit-transform: translate(-23%,49%) rotate(-14deg);
    transform: translate(-23%,49%) rotate(-14deg)
  }
  .section-01__mens {
    width: 21.875rem
  }
  .section-01__mens {
    right: -11%
  }
  .msg {
    -webkit-transform: translate(-6%,-58%) rotate(-6deg);
    transform: translate(-6%,-58%) rotate(-6deg);
    padding: .625rem 1.25rem 3.125rem;
    z-index: 2
  }
  .msg__txt {
    font-size: 1rem
  }
  .msg__txt {
    width: 7.875rem
  }
  .msg__heart.heart-01 {
    width: 1.875rem
  }
  .msg__heart.heart-01 {
    top: -17%;
    left: 45%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
  }
  .msg__heart.heart-02 {
    display: none
  }
  .msg__heart.heart-03 {
    display: none
  }
  .action {
    margin-bottom: 3.125rem
  }
  .action::before {
    background-color: #000
  }
  .action__arr {
    top: -90%;
    right: 35%
  }
  .section-02__container {
    padding-bottom: 3.75rem
  }
  .puzzle__item {
    padding-left: 1.25rem
  }
  .puzzle__item {
    padding-right: 1.25rem
  }
  .puzzle__item {
    padding-top: 3.75rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    padding-top: .75rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    padding-bottom: .75rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    padding-left: 1.875rem
  }
  .item-02 .puzzle__image,
  .item-03 .puzzle__image {
    padding-right: 1.875rem
  }
  .puzzle__image {
    margin-bottom: .75rem
  }
  .puzzle__title {
    font-size: 1.25rem
  }
  .puzzle__title {
    margin-bottom: .625rem
  }
  .puzzle__title {
    line-height: 1
  }
  .puzzle__count {
    bottom: .375rem
  }
  .puzzle__count {
    right: 1.875rem
  }
  .puzzle__count {
    font-size: .875rem
  }
  .btn {
    padding: .625rem 2.1875rem .625rem
  }
  .section-03__btn.swiper-button-prev {
    left: 0
  }
  .section-03__btn.swiper-button-next {
    right: 0
  }
  .social {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
}
@media (max-width:24.43625em) {
  .head-section.head--big {
    padding-top: 1.25rem!important
  }
  .head--big .head-section__title {
    font-size: 1.375rem!important
  }
  .page-bg__speaker {
    width: 14.0625rem
  }
  .page-bg-b__cracker.cracker-01 {
    width: 8.125rem
  }
  .page-bg-b__cracker.cracker-04 {
    width: 8.125rem
  }
  .action__txt {
    font-size: 1.375rem
  }
}
@media (max-width:23.49875em) {
  .head--big .head-section__block {
    padding-left: 1.5625rem
  }
  .head--big .head-section__block {
    padding-right: 1.5625rem
  }
  .head--sm .head-section__block {
    padding-left: 3.125rem
  }
  .head--sm .head-section__block {
    padding-right: 3.125rem
  }
}
@media (max-width:23.56125em) {
  .section-01__content {
    min-height: 18.75rem
  }
  .section-01__cat {
    left: -22%
  }
  .section-01__mens {
    right: -18%
  }
}
@media (min-width:30.06125em) and (max-width:80.06125em) {
  @supports (padding-top:clamp(2.5rem ,4.50153125rem + -2.5vw ,3.75rem)) {
    .head-section.head--big {
      padding-top: clamp(2.5rem ,4.50153125rem + -2.5vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,4.50153125rem + -2.5vw ,3.75rem)) {
    .head-section.head--big {
      padding-top: calc(3.75rem + -1.25 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-top:clamp(3.75rem ,2.99846875rem + 2.5vw ,5rem)) {
    .head-section.head--sm {
      padding-top: clamp(3.75rem ,2.99846875rem + 2.5vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,2.99846875rem + 2.5vw ,5rem)) {
    .head-section.head--sm {
      padding-top: calc(3.75rem + 1.25 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (width:clamp(13.625rem ,10.2806859375rem + 11.125vw ,19.1875rem)) {
    .head--big .head-section__logo {
      width: clamp(13.625rem ,10.2806859375rem + 11.125vw ,19.1875rem)
    }
  }
  @supports not (width:clamp(13.625rem ,10.2806859375rem + 11.125vw ,19.1875rem)) {
    .head--big .head-section__logo {
      width: calc(13.625rem + 5.5625 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (width:clamp(8.75rem ,7.99846875rem + 2.5vw ,10rem)) {
    .head--sm .head-section__logo {
      width: clamp(8.75rem ,7.99846875rem + 2.5vw ,10rem)
    }
  }
  @supports not (width:clamp(8.75rem ,7.99846875rem + 2.5vw ,10rem)) {
    .head--sm .head-section__logo {
      width: calc(8.75rem + 1.25 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (margin-top:clamp(-2.25rem ,-1.3493109375rem + -1.125vw ,-1.6875rem)) {
    .head--big .head-section__block {
      margin-top: clamp(-2.25rem ,-1.3493109375rem + -1.125vw ,-1.6875rem)
    }
  }
  @supports not (margin-top:clamp(-2.25rem ,-1.3493109375rem + -1.125vw ,-1.6875rem)) {
    .head--big .head-section__block {
      margin-top: calc(-1.6875rem + -.5625 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-top:clamp(2.625rem ,2.1365046875rem + 1.625vw ,3.4375rem)) {
    .head--big .head-section__block {
      padding-top: clamp(2.625rem ,2.1365046875rem + 1.625vw ,3.4375rem)
    }
  }
  @supports not (padding-top:clamp(2.625rem ,2.1365046875rem + 1.625vw ,3.4375rem)) {
    .head--big .head-section__block {
      padding-top: calc(2.625rem + .8125 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-bottom:clamp(0.875rem ,0.4616578125rem + 1.375vw ,1.5625rem)) {
    .head--big .head-section__block {
      padding-bottom: clamp(.875rem ,.4616578125rem + 1.375vw ,1.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(0.875rem ,0.4616578125rem + 1.375vw ,1.5625rem)) {
    .head--big .head-section__block {
      padding-bottom: calc(.875rem + .6875 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (margin-top:clamp(-1.5625rem ,-1.0621171875rem + -0.625vw ,-1.25rem)) {
    .head--sm .head-section__block {
      margin-top: clamp(-1.5625rem ,-1.0621171875rem + -.625vw ,-1.25rem)
    }
  }
  @supports not (margin-top:clamp(-1.5625rem ,-1.0621171875rem + -0.625vw ,-1.25rem)) {
    .head--sm .head-section__block {
      margin-top: calc(-1.25rem + -.3125 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.7622703125rem + 0.375vw ,2.0625rem)) {
    .head--sm .head-section__block {
      padding-top: clamp(1.875rem ,1.7622703125rem + .375vw ,2.0625rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.7622703125rem + 0.375vw ,2.0625rem)) {
    .head--sm .head-section__block {
      padding-top: calc(1.875rem + .1875 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.1993875rem + 1vw ,2rem)) {
    .head--big .head-section__title {
      font-size: clamp(1.5rem ,1.1993875rem + 1vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.1993875rem + 1vw ,2rem)) {
    .head--big .head-section__title {
      font-size: calc(1.5rem + .5 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (font-size:clamp(1rem ,0.6993875rem + 1vw ,1.5rem)) {
    .head--sm .head-section__title {
      font-size: clamp(1rem ,.6993875rem + 1vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6993875rem + 1vw ,1.5rem)) {
    .head--sm .head-section__title {
      font-size: calc(1rem + .5 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (width:clamp(21.875rem ,8.1595546875rem + 45.625vw ,44.6875rem)) {
    .section-01__cat {
      width: clamp(21.875rem ,8.1595546875rem + 45.625vw ,44.6875rem)
    }
  }
  @supports not (width:clamp(21.875rem ,8.1595546875rem + 45.625vw ,44.6875rem)) {
    .section-01__cat {
      width: calc(21.875rem + 22.8125 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (width:clamp(4rem ,0.768415625rem + 10.75vw ,9.375rem)) {
    .section-01__pack {
      width: clamp(4rem ,.768415625rem + 10.75vw ,9.375rem)
    }
  }
  @supports not (width:clamp(4rem ,0.768415625rem + 10.75vw ,9.375rem)) {
    .section-01__pack {
      width: calc(4rem + 5.375 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (width:clamp(21.875rem ,4.965546875rem + 56.25vw ,50rem)) {
    .section-01__mens {
      width: clamp(21.875rem ,4.965546875rem + 56.25vw ,50rem)
    }
  }
  @supports not (width:clamp(21.875rem ,4.965546875rem + 56.25vw ,50rem)) {
    .section-01__mens {
      width: calc(21.875rem + 28.125 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (font-size:clamp(1rem ,0.84969375rem + 0.5vw ,1.25rem)) {
    .msg__txt {
      font-size: clamp(1rem ,.84969375rem + .5vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.84969375rem + 0.5vw ,1.25rem)) {
    .msg__txt {
      font-size: calc(1rem + .25 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (width:clamp(7.875rem ,3.21550625rem + 15.5vw ,15.625rem)) {
    .msg__txt {
      width: clamp(7.875rem ,3.21550625rem + 15.5vw ,15.625rem)
    }
  }
  @supports not (width:clamp(7.875rem ,3.21550625rem + 15.5vw ,15.625rem)) {
    .msg__txt {
      width: calc(7.875rem + 7.75 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (width:clamp(1.875rem ,0.747703125rem + 3.75vw ,3.75rem)) {
    .msg__heart.heart-01 {
      width: clamp(1.875rem ,.747703125rem + 3.75vw ,3.75rem)
    }
  }
  @supports not (width:clamp(1.875rem ,0.747703125rem + 3.75vw ,3.75rem)) {
    .msg__heart.heart-01 {
      width: calc(1.875rem + 1.875 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,1.8098203125rem + 4.375vw ,5.3125rem)) {
    .action {
      margin-bottom: clamp(3.125rem ,1.8098203125rem + 4.375vw ,5.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,1.8098203125rem + 4.375vw ,5.3125rem)) {
    .action {
      margin-bottom: calc(3.125rem + 2.1875 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-bottom:clamp(3.75rem ,2.99846875rem + 2.5vw ,5rem)) {
    .section-02__container {
      padding-bottom: clamp(3.75rem ,2.99846875rem + 2.5vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(3.75rem ,2.99846875rem + 2.5vw ,5rem)) {
    .section-02__container {
      padding-bottom: calc(3.75rem + 1.25 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-top:clamp(0.75rem ,0.223928125rem + 1.75vw ,1.625rem)) {
    .item-02 .puzzle__image,
    .item-03 .puzzle__image {
      padding-top: clamp(.75rem ,.223928125rem + 1.75vw ,1.625rem)
    }
  }
  @supports not (padding-top:clamp(0.75rem ,0.223928125rem + 1.75vw ,1.625rem)) {
    .item-02 .puzzle__image,
    .item-03 .puzzle__image {
      padding-top: calc(.75rem + .875 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-bottom:clamp(0.75rem ,0.223928125rem + 1.75vw ,1.625rem)) {
    .item-02 .puzzle__image,
    .item-03 .puzzle__image {
      padding-bottom: clamp(.75rem ,.223928125rem + 1.75vw ,1.625rem)
    }
  }
  @supports not (padding-bottom:clamp(0.75rem ,0.223928125rem + 1.75vw ,1.625rem)) {
    .item-02 .puzzle__image,
    .item-03 .puzzle__image {
      padding-bottom: calc(.75rem + .875 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-left:clamp(1.875rem ,0.9355859375rem + 3.125vw ,3.4375rem)) {
    .item-02 .puzzle__image,
    .item-03 .puzzle__image {
      padding-left: clamp(1.875rem ,.9355859375rem + 3.125vw ,3.4375rem)
    }
  }
  @supports not (padding-left:clamp(1.875rem ,0.9355859375rem + 3.125vw ,3.4375rem)) {
    .item-02 .puzzle__image,
    .item-03 .puzzle__image {
      padding-left: calc(1.875rem + 1.5625 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (padding-right:clamp(1.875rem ,0.3719375rem + 5vw ,4.375rem)) {
    .item-02 .puzzle__image,
    .item-03 .puzzle__image {
      padding-right: clamp(1.875rem ,.3719375rem + 5vw ,4.375rem)
    }
  }
  @supports not (padding-right:clamp(1.875rem ,0.3719375rem + 5vw ,4.375rem)) {
    .item-02 .puzzle__image,
    .item-03 .puzzle__image {
      padding-right: calc(1.875rem + 2.5 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.09969375rem + 0.5vw ,1.5rem)) {
    .puzzle__title {
      font-size: clamp(1.25rem ,1.09969375rem + .5vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.09969375rem + 0.5vw ,1.5rem)) {
    .puzzle__title {
      font-size: calc(1.25rem + .25 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.098928125rem + 1.75vw ,1.5rem)) {
    .puzzle__title {
      margin-bottom: clamp(.625rem ,.098928125rem + 1.75vw ,1.5rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.098928125rem + 1.75vw ,1.5rem)) {
    .puzzle__title {
      margin-bottom: calc(.625rem + .875 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (bottom:clamp(0.375rem ,-0.3389546875rem + 2.375vw ,1.5625rem)) {
    .puzzle__count {
      bottom: clamp(.375rem ,-.3389546875rem + 2.375vw ,1.5625rem)
    }
  }
  @supports not (bottom:clamp(0.375rem ,-0.3389546875rem + 2.375vw ,1.5625rem)) {
    .puzzle__count {
      bottom: calc(.375rem + 1.1875 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (right:clamp(1.875rem ,0.52224375rem + 4.5vw ,4.125rem)) {
    .puzzle__count {
      right: clamp(1.875rem ,.52224375rem + 4.5vw ,4.125rem)
    }
  }
  @supports not (right:clamp(1.875rem ,0.52224375rem + 4.5vw ,4.125rem)) {
    .puzzle__count {
      right: calc(1.875rem + 2.25 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.6871171875rem + 0.625vw ,1.1875rem)) {
    .puzzle__count {
      font-size: clamp(.875rem ,.6871171875rem + .625vw ,1.1875rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.6871171875rem + 0.625vw ,1.1875rem)) {
    .puzzle__count {
      font-size: calc(.875rem + .3125 * (100vw - 30.06125rem)/ 50)
    }
  }
  @supports ((-moz-column-gap:clamp(1.5625rem ,0.51035625rem + 3.5vw ,3.3125rem)) or (column-gap:clamp(1.5625rem ,0.51035625rem + 3.5vw ,3.3125rem))) {
    .social {
      -webkit-column-gap: clamp(1.5625rem ,.51035625rem + 3.5vw ,3.3125rem);
      -moz-column-gap: clamp(1.5625rem ,.51035625rem + 3.5vw ,3.3125rem);
      column-gap: clamp(1.5625rem ,.51035625rem + 3.5vw ,3.3125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,0.51035625rem + 3.5vw ,3.3125rem)) or (column-gap:clamp(1.5625rem ,0.51035625rem + 3.5vw ,3.3125rem))) {
    .social {
      -webkit-column-gap: calc(1.5625rem + 1.75 * (100vw - 30.06125rem)/ 50);
      -moz-column-gap: calc(1.5625rem + 1.75 * (100vw - 30.06125rem)/ 50);
      column-gap: calc(1.5625rem + 1.75 * (100vw - 30.06125rem)/ 50)
    }
  }
}
@media (min-width:23.49875em) and (max-width:80.06125em) {
  @supports (padding-left:clamp(1.5625rem ,0.3940538674rem + 4.9723756906vw ,4.375rem)) {
    .head--big .head-section__block {
      padding-left: clamp(1.5625rem ,.3940538674rem + 4.9723756906vw ,4.375rem)
    }
  }
  @supports not (padding-left:clamp(1.5625rem ,0.3940538674rem + 4.9723756906vw ,4.375rem)) {
    .head--big .head-section__block {
      padding-left: calc(1.5625rem + 2.8125 * (100vw - 23.49875rem)/ 56.5625)
    }
  }
  @supports (padding-right:clamp(1.5625rem ,0.3940538674rem + 4.9723756906vw ,4.375rem)) {
    .head--big .head-section__block {
      padding-right: clamp(1.5625rem ,.3940538674rem + 4.9723756906vw ,4.375rem)
    }
  }
  @supports not (padding-right:clamp(1.5625rem ,0.3940538674rem + 4.9723756906vw ,4.375rem)) {
    .head--big .head-section__block {
      padding-right: calc(1.5625rem + 2.8125 * (100vw - 23.49875rem)/ 56.5625)
    }
  }
  @supports (padding-left:clamp(3.125rem ,2.6056906077rem + 2.2099447514vw ,4.375rem)) {
    .head--sm .head-section__block {
      padding-left: clamp(3.125rem ,2.6056906077rem + 2.2099447514vw ,4.375rem)
    }
  }
  @supports not (padding-left:clamp(3.125rem ,2.6056906077rem + 2.2099447514vw ,4.375rem)) {
    .head--sm .head-section__block {
      padding-left: calc(3.125rem + 1.25 * (100vw - 23.49875rem)/ 56.5625)
    }
  }
  @supports (padding-right:clamp(3.125rem ,2.6056906077rem + 2.2099447514vw ,4.375rem)) {
    .head--sm .head-section__block {
      padding-right: clamp(3.125rem ,2.6056906077rem + 2.2099447514vw ,4.375rem)
    }
  }
  @supports not (padding-right:clamp(3.125rem ,2.6056906077rem + 2.2099447514vw ,4.375rem)) {
    .head--sm .head-section__block {
      padding-right: calc(3.125rem + 1.25 * (100vw - 23.49875rem)/ 56.5625)
    }
  }
}
@media (min-width:24.43625em) and (max-width:71.25em) {
  @supports (width:clamp(14.0625rem ,12.1050422552rem + 8.0104670102vw ,17.8125rem)) {
    .page-bg__speaker {
      width: clamp(14.0625rem ,12.1050422552rem + 8.0104670102vw ,17.8125rem)
    }
  }
  @supports not (width:clamp(14.0625rem ,12.1050422552rem + 8.0104670102vw ,17.8125rem)) {
    .page-bg__speaker {
      width: calc(14.0625rem + 3.75 * (100vw - 24.43625rem)/ 46.81375)
    }
  }
  @supports (width:clamp(8.125rem ,6.6569066914rem + 6.0078502577vw ,10.9375rem)) {
    .page-bg-b__cracker.cracker-01 {
      width: clamp(8.125rem ,6.6569066914rem + 6.0078502577vw ,10.9375rem)
    }
  }
  @supports not (width:clamp(8.125rem ,6.6569066914rem + 6.0078502577vw ,10.9375rem)) {
    .page-bg-b__cracker.cracker-01 {
      width: calc(8.125rem + 2.8125 * (100vw - 24.43625rem)/ 46.81375)
    }
  }
  @supports (width:clamp(8.125rem ,6.6569066914rem + 6.0078502577vw ,10.9375rem)) {
    .page-bg-b__cracker.cracker-04 {
      width: clamp(8.125rem ,6.6569066914rem + 6.0078502577vw ,10.9375rem)
    }
  }
  @supports not (width:clamp(8.125rem ,6.6569066914rem + 6.0078502577vw ,10.9375rem)) {
    .page-bg-b__cracker.cracker-04 {
      width: calc(8.125rem + 2.8125 * (100vw - 24.43625rem)/ 46.81375)
    }
  }
}
@media (min-width:30.06125em) and (max-width:80em) {
  @supports (padding-left:clamp(1.25rem ,-2.5122650247rem + 12.5153312808vw ,7.5rem)) {
    .puzzle__item {
      padding-left: clamp(1.25rem ,-2.5122650247rem + 12.5153312808vw ,7.5rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,-2.5122650247rem + 12.5153312808vw ,7.5rem)) {
    .puzzle__item {
      padding-left: calc(1.25rem + 6.25 * (100vw - 30.06125rem)/ 49.93875)
    }
  }
  @supports (padding-right:clamp(1.25rem ,-2.5122650247rem + 12.5153312808vw ,7.5rem)) {
    .puzzle__item {
      padding-right: clamp(1.25rem ,-2.5122650247rem + 12.5153312808vw ,7.5rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,-2.5122650247rem + 12.5153312808vw ,7.5rem)) {
    .puzzle__item {
      padding-right: calc(1.25rem + 6.25 * (100vw - 30.06125rem)/ 49.93875)
    }
  }
}
@media (any-hover:hover) {
  .section-03__next:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
  .social__link:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
}